:root, [data-bs-theme=light] {
  --bs-primary: #b18a33;
  --bs-primary-rgb: 177,138,51;
  --bs-primary-text-emphasis: #473714;
  --bs-primary-bg-subtle: #EFE8D6;
  --bs-primary-border-subtle: #E0D0AD;
  --bs-secondary: #f5deb3;
  --bs-secondary-rgb: 245,222,179;
  --bs-secondary-text-emphasis: #625948;
  --bs-secondary-bg-subtle: #FDF8F0;
  --bs-secondary-border-subtle: #FBF2E1;
  --bs-success: #498961;
  --bs-success-rgb: 73,137,97;
  --bs-success-text-emphasis: #1D3727;
  --bs-success-bg-subtle: #DBE7DF;
  --bs-success-border-subtle: #B6D0C0;
  --bs-info: #3d7a81;
  --bs-info-rgb: 61,122,129;
  --bs-info-text-emphasis: #183134;
  --bs-info-bg-subtle: #D8E4E6;
  --bs-info-border-subtle: #B1CACD;
  --bs-warning: #7a6c2c;
  --bs-warning-rgb: 122,108,44;
  --bs-warning-text-emphasis: #312B12;
  --bs-warning-bg-subtle: #E4E2D5;
  --bs-warning-border-subtle: #CAC4AB;
  --bs-danger: #703439;
  --bs-danger-rgb: 112,52,57;
  --bs-danger-text-emphasis: #2D1517;
  --bs-danger-bg-subtle: #E2D6D7;
  --bs-danger-border-subtle: #C6AEB0;
  --bs-light: #f5deb3;
  --bs-light-rgb: 245,222,179;
  --bs-light-text-emphasis: #625948;
  --bs-light-bg-subtle: #FDF8F0;
  --bs-light-border-subtle: #FBF2E1;
  --bs-dark: #b18a33;
  --bs-dark-rgb: 177,138,51;
  --bs-dark-text-emphasis: #473714;
  --bs-dark-bg-subtle: #EFE8D6;
  --bs-dark-border-subtle: #E0D0AD;
  --bs-link-color: rgba(13,110,252,0);
  --bs-link-color-rgb: 13,110,252,0;
  --bs-link-hover-color: rgba(10,88,202,0);
  --bs-link-hover-color-rgb: 10,88,202,0;
  --bs-link-decoration: none;
  --bs-link-hover-decoration: none;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #b18a33;
  --bs-btn-border-color: #b18a33;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #BD9C52;
  --bs-btn-hover-border-color: #B99647;
  --bs-btn-focus-shadow-rgb: 27,21,8;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C1A15C;
  --bs-btn-active-border-color: #B99647;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #b18a33;
  --bs-btn-disabled-border-color: #b18a33;
}

.btn-outline-primary {
  --bs-btn-color: #b18a33;
  --bs-btn-border-color: #b18a33;
  --bs-btn-focus-shadow-rgb: 177,138,51;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #b18a33;
  --bs-btn-hover-border-color: #b18a33;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #b18a33;
  --bs-btn-active-border-color: #b18a33;
  --bs-btn-disabled-color: #b18a33;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b18a33;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f5deb3;
  --bs-btn-border-color: #f5deb3;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F7E3BE;
  --bs-btn-hover-border-color: #F6E1BB;
  --bs-btn-focus-shadow-rgb: 37,33,27;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F7E5C2;
  --bs-btn-active-border-color: #F6E1BB;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f5deb3;
  --bs-btn-disabled-border-color: #f5deb3;
}

.btn-outline-secondary {
  --bs-btn-color: #f5deb3;
  --bs-btn-border-color: #f5deb3;
  --bs-btn-focus-shadow-rgb: 245,222,179;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f5deb3;
  --bs-btn-hover-border-color: #f5deb3;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f5deb3;
  --bs-btn-active-border-color: #f5deb3;
  --bs-btn-disabled-color: #f5deb3;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f5deb3;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #498961;
  --bs-btn-border-color: #498961;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #649B79;
  --bs-btn-hover-border-color: #5B9571;
  --bs-btn-focus-shadow-rgb: 11,21,15;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #6DA181;
  --bs-btn-active-border-color: #5B9571;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #498961;
  --bs-btn-disabled-border-color: #498961;
}

.btn-outline-success {
  --bs-btn-color: #498961;
  --bs-btn-border-color: #498961;
  --bs-btn-focus-shadow-rgb: 73,137,97;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #498961;
  --bs-btn-hover-border-color: #498961;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #498961;
  --bs-btn-active-border-color: #498961;
  --bs-btn-disabled-color: #498961;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #498961;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3d7a81;
  --bs-btn-border-color: #3d7a81;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #34686E;
  --bs-btn-hover-border-color: #316267;
  --bs-btn-focus-shadow-rgb: 226,235,236;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #316267;
  --bs-btn-active-border-color: #2E5C61;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3d7a81;
  --bs-btn-disabled-border-color: #3d7a81;
}

.btn-outline-info {
  --bs-btn-color: #3d7a81;
  --bs-btn-border-color: #3d7a81;
  --bs-btn-focus-shadow-rgb: 61,122,129;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3d7a81;
  --bs-btn-hover-border-color: #3d7a81;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3d7a81;
  --bs-btn-active-border-color: #3d7a81;
  --bs-btn-disabled-color: #3d7a81;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3d7a81;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #7a6c2c;
  --bs-btn-border-color: #7a6c2c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #685C25;
  --bs-btn-hover-border-color: #625623;
  --bs-btn-focus-shadow-rgb: 235,233,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #625623;
  --bs-btn-active-border-color: #5C5121;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7a6c2c;
  --bs-btn-disabled-border-color: #7a6c2c;
}

.btn-outline-warning {
  --bs-btn-color: #7a6c2c;
  --bs-btn-border-color: #7a6c2c;
  --bs-btn-focus-shadow-rgb: 122,108,44;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7a6c2c;
  --bs-btn-hover-border-color: #7a6c2c;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7a6c2c;
  --bs-btn-active-border-color: #7a6c2c;
  --bs-btn-disabled-color: #7a6c2c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #7a6c2c;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #703439;
  --bs-btn-border-color: #703439;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5F2C30;
  --bs-btn-hover-border-color: #5A2A2E;
  --bs-btn-focus-shadow-rgb: 234,225,225;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5A2A2E;
  --bs-btn-active-border-color: #54272B;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #703439;
  --bs-btn-disabled-border-color: #703439;
}

.btn-outline-danger {
  --bs-btn-color: #703439;
  --bs-btn-border-color: #703439;
  --bs-btn-focus-shadow-rgb: 112,52,57;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #703439;
  --bs-btn-hover-border-color: #703439;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #703439;
  --bs-btn-active-border-color: #703439;
  --bs-btn-disabled-color: #703439;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #703439;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f5deb3;
  --bs-btn-border-color: #f5deb3;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D0BD98;
  --bs-btn-hover-border-color: #C4B28F;
  --bs-btn-focus-shadow-rgb: 37,33,27;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C4B28F;
  --bs-btn-active-border-color: #B8A786;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f5deb3;
  --bs-btn-disabled-border-color: #f5deb3;
}

.btn-outline-light {
  --bs-btn-color: #f5deb3;
  --bs-btn-border-color: #f5deb3;
  --bs-btn-focus-shadow-rgb: 245,222,179;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f5deb3;
  --bs-btn-hover-border-color: #f5deb3;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f5deb3;
  --bs-btn-active-border-color: #f5deb3;
  --bs-btn-disabled-color: #f5deb3;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f5deb3;
}

.btn-dark {
  --bs-btn-color: #000000;
  --bs-btn-bg: #b18a33;
  --bs-btn-border-color: #b18a33;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #BD9C52;
  --bs-btn-hover-border-color: #B99647;
  --bs-btn-focus-shadow-rgb: 27,21,8;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C1A15C;
  --bs-btn-active-border-color: #B99647;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #b18a33;
  --bs-btn-disabled-border-color: #b18a33;
}

.btn-outline-dark {
  --bs-btn-color: #b18a33;
  --bs-btn-border-color: #b18a33;
  --bs-btn-focus-shadow-rgb: 177,138,51;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #b18a33;
  --bs-btn-hover-border-color: #b18a33;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #b18a33;
  --bs-btn-active-border-color: #b18a33;
  --bs-btn-disabled-color: #b18a33;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b18a33;
}

a {
  text-decoration: var(--bs-link-decoration);
}

a:hover {
  text-decoration: var(--bs-link-hover-decoration);
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: .3rem !important;
}

.mt-2 {
  margin-top: .6rem !important;
}

.mt-3 {
  margin-top: 1.2rem !important;
}

.mt-4 {
  margin-top: 1.8rem !important;
}

.mt-5 {
  margin-top: 3.6rem !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-3 {
  margin-right: 1.2rem !important;
}

.me-4 {
  margin-right: 1.8rem !important;
}

.me-6 {
  margin-right: 5.1rem !important;
}

.me-8 {
  margin-right: 8.1rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: .3rem !important;
}

.mb-2 {
  margin-bottom: .6rem !important;
}

.mb-3 {
  margin-bottom: 1.2rem !important;
}

.mb-4 {
  margin-bottom: 1.8rem !important;
}

.mb-5 {
  margin-bottom: 3.6rem !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-3 {
  margin-left: 1.2rem !important;
}

.ms-4 {
  margin-left: 1.8rem !important;
}

.ms-8 {
  margin-left: 8.1rem !important;
}

@media (min-width: 992px) {
  .mb-lg-2 {
    margin-bottom: 0.6rem !important;
  }
}

