.Gold {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #987327 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: 'Playfair Display', serif;
  position: relative;
  /*text-transform: uppercase;*/
  /*font-size: calc(18vw + .5rem);*/
  margin: 0;
  font-weight: 400;
}

Gold::after {
  background: none;
  content: attr(data-heading) / "";
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow: -1px 0 1px #c6bb9f, 0 1px 1px #c6bb9f, 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4);
}

