.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: #0ebae0!important;
  border-color: var(--bs-blue)!important;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: #0ebae0;
  border-color: var(--bs-blue);
}

.btn {
  color: var(--bs-primary-bg-subtle);
  background-color: var(--bs-dark-text-emphasis);
  border-color: var(--bs-light);
}

body:before, .hero:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  height: 50%;
  opacity: .5;
  background: var(--bs-gray-900) no-repeat 0 90%/cover;
  -webkit-mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.013) 8.1%, rgba(0, 0, 0, 0.049) 15.5%, rgba(0, 0, 0, 0.104) 22.5%, rgba(0, 0, 0, 0.175) 29%, rgba(0, 0, 0, 0.259) 35.3%, rgba(0, 0, 0, 0.352) 41.2%, rgba(0, 0, 0, 0.45) 47.1%, rgba(0, 0, 0, 0.55) 52.9%, rgba(0, 0, 0, 0.648) 58.8%, rgba(0, 0, 0, 0.741) 64.7%, rgba(0, 0, 0, 0.825) 71%, rgba(0, 0, 0, 0.896) 77.5%, rgba(0, 0, 0, 0.951) 84.5%, rgba(0, 0, 0, 0.987) 91.9%, #000);
  mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.013) 8.1%, rgba(0, 0, 0, 0.049) 15.5%, rgba(0, 0, 0, 0.104) 22.5%, rgba(0, 0, 0, 0.175) 29%, rgba(0, 0, 0, 0.259) 35.3%, rgba(0, 0, 0, 0.352) 41.2%, rgba(0, 0, 0, 0.45) 47.1%, rgba(0, 0, 0, 0.55) 52.9%, rgba(0, 0, 0, 0.648) 58.8%, rgba(0, 0, 0, 0.741) 64.7%, rgba(0, 0, 0, 0.825) 71%, rgba(0, 0, 0, 0.896) 77.5%, rgba(0, 0, 0, 0.951) 84.5%, rgba(0, 0, 0, 0.987) 91.9%, #000);
}

.reflow-product-list .ref-image, .reflow-product-list.ref-cards .ref-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.reflow-product-list.ref-cards .ref-image {
  border: solid;
  border-color: rgba(177,138,51,0);
  border-radius: 15px;
  border-width: 1px;
}

.reflow-product-list.ref-cards .ref-product .ref-media {
  margin: 0 0 var(--ref-gutter-md) 0;
  justify-content: center;
}

.reflow-product-list .ref-media, .reflow-product-list.ref-cards .ref-media {
  position: relative;
  width: 100%;
}

.reflow-product .ref-media .ref-promo-badge, .reflow-product-list .ref-media .ref-promo-badge, .reflow-product .ref-media .ref-sale-badge, .reflow-product-list .ref-media .ref-sale-badge {
  position: absolute;
  pointer-events: none;
  background-color: rgb(0,0,0);
  color: #d2ca7d;
  font-weight: bold;
  font-size: 0.8em;
  /*padding: .2em .7em;*/
  border-radius: var(--ref-border-radius);
  border: solid;
  border-width: thin;
  text-transform: uppercase;
  font-family: 'Inter';
  color: #f4cf7d;
}

.reflow-product-list .ref-product .ref-name {
  font-size: 1.1em;
  padding-right: 2em;
  color: #f4cf7d;
  color: #f4cf7d;
  background-image: linear-gradient(180deg, #f4cf7d 27%, #f4cf7d 78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;;
}

.reflow-product-list .ref-product .ref-price {
  font-size: 1.2rem;
  font-family: var(--bs-body-font-family);
  margin: 0;
}

p:not(.lead), small, .small, input, textarea {
  /*font-family: "Inter";*/
  /*display: none;*/
}

.reflow-product-list.ref-cards .ref-product .ref-name, .reflow-product-list.ref-cards .ref-product .ref-price {
  font-weight: normal;
  font-family: 'Alkatra';
  padding-left: 0.4em;
}

.reflow-product-list.ref-cards .ref-product .ref-excerpt, .reflow-product-list.ref-cards .ref-product .ref-price {
  color: #f4cf7d;
  font-weight: bold;
  font-family: initial;
  background-color: rgb(0,0,0);
  padding-right: 8px;
  border: solid;
  border-width: thin;
  border-radius: 9px;
  overflow: visible;
  align-items: center;
  align-self: center;
}

.reflow-category-list.ref-horizontal-bar {
  background-color: rgba(29,29,29,0);
  padding: 5px;
}

@media (min-width: 1200px) {
  .reflow-product .ref-media .ref-preview .ref-image {
    height: 100%;
  }
}

.reflow-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ref-image {
  aspect-ratio: 1/1!important;
  border: solid;
  border-width: 3px;
  border-color: var(--bs-primary);
}

.reflow-cart-toggler:before {
  content: attr(data-reflow-count);
  position: absolute;
  right: 3px;
  background: var(--ref-warning);
  border-radius: 1em;
  color: #fff;
  font-size: .7em;
  padding: .2em .5em .2em .4em;
  line-height: 1;
  transform: translate(4%,-63%);
  visibility: hidden;
  top: 0.9em;
}

.reflow-category-list.ref-horizontal-bar a:hover {
  color: var(--ref-primary);
}

.reflow-category-list.ref-horizontal-bar a {
  text-decoration: none;
  color: #CFC09F;
  background-image: linear-gradient(180deg, #CFC09F 27%, #FFECB3 40%, #997328 78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .lead, .navbar-brand, .blockquote p, .blockquote:before {
  font-family: var(--bs-font-family-heading);
  color: #f4cf7d;
  background-image: linear-gradient(180deg, #f4cf7d 27%, #f4cf7d 78%);
  background-clip: text;
  -webkit-background-clip: text;
}

.reflow-product .ref-category {
  font-size: .75em;
  color: var(--ref-gray);
  text-decoration: none;
  color: #f4cf7d;
  background-image: linear-gradient(180deg, #f4cf7d 27%, #f4cf7d 78%);
  background-clip: text;
  -webkit-background-clip: text;
}

.reflow-product .ref-price.ref-on-sale, .reflow-product-list .ref-price.ref-on-sale {
  color: #f4cf7d;
}

.ref-original-price {
  color: var(--ref-body-color);
  margin-right: 10px;
}

.has-quantity.reflow-cart-toggler.has-summary {
  margin-left: 13px;
  font-size: 0.7em;
  text-align: start;
}

.ref-summary .ref-product .ref-product-name {
  color: #f4cf7d;
  font-size: 16px;
}

.ref-product-total {
  color: #ffffff;
}

.ref-summary .ref-product .ref-product-remove {
  color: #ff8743;
}

.ref-summary .ref-subtotal .ref-row {
  color: #ffffff;
}

.ref-summary .ref-shipping-taxes {
  color: var(--bs-warning-bg-subtle);
}

.ref-summary-header {
  color: #ffffff;
}

.ref-summary-header .ref-summary-title {
  color: #ffffff;
  font-size: 55px;
}

.ref-summary.open {
  /*opacity: 0.9;*/
  border-radius: 20px 0 0 20px;
  background-color: #1d1d1d;
  margin-top: 12px;
  margin-bottom: 12px;
  border-color: #f4cf7d;
  border-width: 2px;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgb(29,29,29)!important;
}

.accordion-button {
  border: 1px solid #f4cf7d;
  border-radius: var(--bs-accordion-border-radius);
}

:root {
  --bs-hero-bg: url("hero.webp");
  --bs-font-family-heading: 'Fraunces', serif;
}

.ref-product-preview.open {
  background-color: rgba(33,37,41,0.41);
  border-color: #f4cf7d;
  border-radius: 20px 0 0 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.glightbox-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999!important;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 0;
  overflow: hidden;
}

.glightbox-container.inactive {
  display: none;
}

.glightbox-container .gcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

.glightbox-container .gslider {
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.glightbox-container .gslide {
  width: 100%;
  position: absolute;
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
}

.glightbox-container .gslide.current {
  opacity: 1;
  z-index: 99999;
  position: relative;
}

.glightbox-container .gslide.prev {
  opacity: 1;
  z-index: 9999;
}

.glightbox-container .gslide-inner-content {
  width: 100%;
}

.glightbox-container .ginner-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  height: 100vh;
}

.glightbox-container .ginner-container.gvideo-container {
  width: 100%;
}

.glightbox-container .ginner-container.desc-bottom, .glightbox-container .ginner-container.desc-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.glightbox-container .ginner-container.desc-left, .glightbox-container .ginner-container.desc-right {
  max-width: 100%!important;
}

.gslide iframe, .gslide video {
  outline: 0!important;
  border: none;
  min-height: 165px;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: auto;
  touch-action: auto;
}

.gslide-image {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gslide-image img {
  max-height: 100vh;
  display: block;
  padding: 0;
  float: none;
  outline: 0;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100vw;
  width: auto;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-touch-action: none;
  touch-action: none;
  margin: auto;
  min-width: 200px;
}

.desc-bottom .gslide-image img, .desc-top .gslide-image img {
  width: auto;
}

.desc-left .gslide-image img, .desc-right .gslide-image img {
  width: auto;
  max-width: 100%;
}

.gslide-image img.zoomable {
  position: relative;
  border-radius: 15px!important;
  border-width: 1px;
  border: solid;
  border-color: var(--bs-primary);
  width: 90%;
}

.gslide-image img.dragging {
  cursor: -webkit-grabbing!important;
  cursor: grabbing!important;
  -webkit-transition: none;
  transition: none;
}

.gslide-video {
  position: relative;
  max-width: 100vh;
  width: 100%!important;
}

.gslide-video {
  position: relative;
  max-width: 100vh;
  width: 100%!important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#fixed-social {
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 290px;
  z-index: 1030!important;
  left: 10px;
  color: var(--bs-secondary)!important;
}

#fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
  z-index: 1;
}

#fixed-social a:hover > span {
  visibility: visible;
  left: 40px;
  opacity: 1;
  z-index: 1004;
}

#fixed-social a span {
  line-height: 40px;
  left: 32px;
  position: absolute;
  text-align: center;
  width: 120px;
  visibility: hidden;
  transition-duration: 0.5s;
  z-index: 1004;
  opacity: 0;
  font-family: 'Montserrat';
  font-weight: bold;
}

.infinite-scroller {
  overflow: hidden;
}

.infinite-scroller .scrollable {
  display: flex;
  width: fit-content;
  animation: slide-to-left 33s linear infinite;
}

.infinite-scroller.pause-on-hover .scrollable:hover {
  animation-play-state: paused;
}

@keyframes slide-to-left {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.infinite-scroller .scrollable > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100vw;
}

.infinite-scroller .scrollable > div > * {
  margin: 0 20px;
}

.Gold {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #987327 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: 'Playfair Display', serif;
  position: relative;
  /*text-transform: uppercase;*/
  /*font-size: calc(18vw + .5rem);*/
  margin: 0;
  font-weight: 400;
}

Gold::after {
  background: none;
  content: attr(data-heading) / "";
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow: -1px 0 1px #c6bb9f, 0 1px 1px #c6bb9f, 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4);
}

.gslide-video .gvideo-wrapper {
  width: 100%;
  margin: auto;
}

.gslide-video::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,0,0,.34);
  display: none;
}

.gslide-video.playing::before {
  display: none;
}

.gslide-video.fullscreen {
  max-width: 100%!important;
  min-width: 100%;
  height: 75vh;
}

.gslide-video.fullscreen video {
  max-width: 100%!important;
  width: 100%!important;
}

.gslide-inline {
  background: #fff;
  text-align: left;
  max-height: calc(100vh - 40px);
  overflow: auto;
  max-width: 100%;
}

.gslide-inline .ginlined-content {
  padding: 20px;
  width: 100%;
}

.gslide-inline .dragging {
  cursor: -webkit-grabbing!important;
  cursor: grabbing!important;
  -webkit-transition: none;
  transition: none;
}

.ginlined-content {
  overflow: auto;
  display: block!important;
  opacity: 1;
}

.gslide-external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 100%;
  background: #fff;
  padding: 0;
  overflow: auto;
  max-height: 75vh;
  height: 100%;
}

.gslide-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.zoomed .gslide-media {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.desc-bottom .gslide-media, .desc-top .gslide-media {
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gslide-description {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

.gslide-description.description-left, .gslide-description.description-right {
  max-width: 100%;
}

.gslide-description.description-bottom, .gslide-description.description-top {
  margin: 0 auto;
  width: 100%;
}

.gslide-description p {
  margin-bottom: 12px;
}

.gslide-description p:last-child {
  margin-bottom: 0;
}

.zoomed .gslide-description {
  display: none;
}

.glightbox-button-hidden {
  display: none;
}

.glightbox-mobile .glightbox-container .gslide-description {
  height: auto!important;
  width: 100%;
  background: 0 0;
  position: absolute;
  bottom: 15px;
  padding: 19px 11px;
  max-width: 100vw!important;
  -webkit-box-ordinal-group: 3!important;
  order: 2!important;
  max-height: 78vh;
  overflow: auto!important;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.75)));
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.75) 100%);
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  padding-bottom: 50px;
}

.glightbox-mobile .glightbox-container .gslide-title {
  color: #fff;
  font-size: 1em;
}

.glightbox-mobile .glightbox-container .gslide-desc {
  color: #a1a1a1;
}

.glightbox-mobile .glightbox-container .gslide-desc a {
  color: #fff;
  font-weight: 700;
}

.glightbox-mobile .glightbox-container .gslide-desc * {
  color: inherit;
}

.glightbox-mobile .glightbox-container .gslide-desc string {
  color: #fff;
}

.glightbox-mobile .glightbox-container .gslide-desc .desc-more {
  color: #fff;
  opacity: .4;
}

.gdesc-open .gslide-media {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: .4;
}

.gdesc-open .gdesc-inner {
  padding-bottom: 30px;
}

.gdesc-closed .gslide-media {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 1;
}

.greset {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.gabsolute {
  position: absolute;
}

.grelative {
  position: relative;
}

.glightbox-desc {
  display: none!important;
}

.glightbox-open {
  overflow: hidden;
}

.gloader {
  height: 25px;
  width: 25px;
  -webkit-animation: lightboxLoader .8s infinite linear;
  animation: lightboxLoader .8s infinite linear;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  display: block;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 47%;
}

.goverlay {
  width: 100%;
  height: calc(100vh + 1px);
  position: fixed;
  top: -1px;
  left: 0;
  background: #000;
  will-change: opacity;
}

.glightbox-mobile .goverlay {
  background: #000;
}

.gclose, .gnext, .gprev {
  z-index: 99999;
  cursor: pointer;
  width: 26px;
  height: 44px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gclose svg, .gnext svg, .gprev svg {
  display: block;
  width: 25px;
  height: auto;
  margin: 0;
  padding: 0;
}

.gclose.disabled, .gnext.disabled, .gprev.disabled {
  opacity: .1;
}

.gclose .garrow, .gnext .garrow, .gprev .garrow {
  stroke: #fff;
}

.gbtn.focused {
  outline: 2px solid #0f3d81;
}

iframe.wait-autoplay {
  opacity: 0;
}

.glightbox-closing .gclose, .glightbox-closing .gnext, .glightbox-closing .gprev {
  opacity: 0!important;
}

.glightbox-clean .gslide-description {
  background: #fff;
}

.glightbox-clean .gdesc-inner {
  padding: 22px 20px;
}

.glightbox-clean .gslide-title {
  font-size: 1em;
  font-weight: 400;
  font-family: arial;
  color: #000;
  margin-bottom: 19px;
  line-height: 1.4em;
}

.glightbox-clean .gslide-desc {
  font-size: .86em;
  margin-bottom: 0;
  font-family: arial;
  line-height: 1.4em;
}

.glightbox-clean .gslide-video {
  background: #000;
}

.glightbox-clean .gclose, .glightbox-clean .gnext, .glightbox-clean .gprev {
  background-color: rgba(0,0,0,.75);
  border-radius: 4px;
}

.glightbox-clean .gclose path, .glightbox-clean .gnext path, .glightbox-clean .gprev path {
  fill: #fff;
}

.glightbox-clean .gprev {
  position: absolute;
  top: -100%;
  left: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gnext {
  position: absolute;
  top: -100%;
  right: 30px;
  width: 40px;
  height: 50px;
}

.glightbox-clean .gclose {
  width: 35px;
  height: 35px;
  top: 15px;
  right: 10px;
  position: absolute;
}

.glightbox-clean .gclose svg {
  width: 18px;
  height: auto;
}

.glightbox-clean .gclose:hover {
  opacity: 1;
}

.gfadeIn {
  -webkit-animation: gfadeIn .5s ease;
  animation: gfadeIn .5s ease;
}

.gfadeOut {
  -webkit-animation: gfadeOut .5s ease;
  animation: gfadeOut .5s ease;
}

.gslideOutLeft {
  -webkit-animation: gslideOutLeft .3s ease;
  animation: gslideOutLeft .3s ease;
}

.gslideInLeft {
  -webkit-animation: gslideInLeft .3s ease;
  animation: gslideInLeft .3s ease;
}

.gslideOutRight {
  -webkit-animation: gslideOutRight .3s ease;
  animation: gslideOutRight .3s ease;
}

.gslideInRight {
  -webkit-animation: gslideInRight .3s ease;
  animation: gslideInRight .3s ease;
}

.gzoomIn {
  -webkit-animation: gzoomIn .5s ease;
  animation: gzoomIn .5s ease;
}

.gzoomOut {
  -webkit-animation: gzoomOut .5s ease;
  animation: gzoomOut .5s ease;
}

@keyframes lightboxLoader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes gfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes gslideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60%,0,0);
    transform: translate3d(-60%,0,0);
  }
  to {
    visibility: visible;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes gslideOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  to {
    -webkit-transform: translate3d(-60%,0,0);
    transform: translate3d(-60%,0,0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes gslideInRight {
  from {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(60%,0,0);
    transform: translate3d(60%,0,0);
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes gslideOutRight {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  to {
    -webkit-transform: translate3d(60%,0,0);
    transform: translate3d(60%,0,0);
    opacity: 0;
  }
}

@keyframes gzoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3);
  }
  to {
    opacity: 1;
  }
}

@keyframes gzoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3);
  }
  to {
    opacity: 0;
  }
}

@media (min-width:769px) {
  .glightbox-container .ginner-container {
    width: auto;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width:769px) {
  .glightbox-container .ginner-container.desc-top .gslide-description {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}

@media (min-width:769px) {
  .glightbox-container .ginner-container.desc-top .gslide-image, .glightbox-container .ginner-container.desc-top .gslide-image img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (min-width:769px) {
  .glightbox-container .ginner-container.desc-left .gslide-description {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}

@media (min-width:769px) {
  .glightbox-container .ginner-container.desc-left .gslide-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (min-width:769px) {
  .gslide-image img {
    max-height: 97vh;
    max-width: 100%;
  }
}

@media (min-width:769px) {
  .gslide-image img.zoomable {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
}

@media (min-width:769px) {
  .zoomed .gslide-image img.zoomable {
    cursor: -webkit-grab;
    cursor: grab;
  }
}

@media (min-width:769px) {
  .gslide-inline {
    max-height: 95vh;
  }
}

@media (min-width:769px) {
  .gslide-external {
    max-height: 100vh;
  }
}

@media (min-width:769px) {
  .gslide-description.description-left, .gslide-description.description-right {
    max-width: 275px;
  }
}

@media (min-width:769px) {
  .glightbox-open {
    height: auto;
  }
}

@media (min-width:769px) {
  .goverlay {
    background: rgba(0,0,0,.92);
  }
}

@media (min-width:769px) {
  .glightbox-clean .gslide-media {
    -webkit-box-shadow: 1px 2px 9px 0 rgba(0,0,0,.65);
    box-shadow: 1px 2px 9px 0 rgba(0,0,0,.65);
  }
}

@media (min-width:769px) {
  .glightbox-clean .description-left .gdesc-inner, .glightbox-clean .description-right .gdesc-inner {
    position: absolute;
    height: 100%;
    overflow-y: auto;
  }
}

@media (min-width:769px) {
  .glightbox-clean .gclose, .glightbox-clean .gnext, .glightbox-clean .gprev {
    background-color: rgba(0,0,0,.32);
  }
}

@media (min-width:769px) {
  .glightbox-clean .gclose:hover, .glightbox-clean .gnext:hover, .glightbox-clean .gprev:hover {
    background-color: rgba(0,0,0,.7);
  }
}

@media (min-width:769px) {
  .glightbox-clean .gprev {
    top: 45%;
  }
}

@media (min-width:769px) {
  .glightbox-clean .gnext {
    top: 45%;
  }
}

@media (min-width:992px) {
  .glightbox-clean .gclose {
    opacity: .7;
    right: 20px;
  }
}

@media screen and (max-height:420px) {
  .goverlay {
    background: #000;
  }
}

.ref-price {
  color: #f4cf7d;
}

#new list .ref-image {
}

.new-list {
  width: 88px;
  height: 67px;
  font: none;
}

.new-list .ref-cards .ref-image {
  width: 109px;
}

.new-list .ref-cards .ref-promo {
}

.new-list .ref-promo-badge {
  display: none;
}

.ref-button {
  display: inline-block;
  text-decoration: none;
  padding: var(--ref-btn-padding);
  background-color: var(--ref-primary);
  color: var(--ref-white);
  border-radius: var(--ref-btn-border-radius);
  line-height: 1.5;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}

.ref-button:hover {
  opacity: .92;
  color: var(--ref-white);
}

.ref-button:active {
  position: relative;
  bottom: -1px;
}

.ref-button.ref-button-success {
  background-color: var(--bs-dark-border-subtle)!important;
}

.ref-button.inactive {
  background-color: var(--ref-secondary-bg);
  pointer-events: none;
}

.ref-button.ref-button-success:hover {
  background-color: #6a5934!important;
  color: #c3c0a2!important;
}

.ref-validation-error {
  color: #ffecb3!important;
}

